{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello Simon</h1>

    <br><br><br>

    {% if ticker %}
        {{ ticker }}
    {% endif %}


    {% if api == 'API Error' %}
        There is a problem with ticket symbol, please try again.

    {% else %}

        {% for key, value in api.items %}
            {% for inner_key, inner_value in value.items %}
                {{ inner_key }}: {{ inner_value }} <br/>
            {% endfor %}
        {% endfor %}


    {% endif %}





</body>
</html>

{% endblock %}

